body {
    margin:  0px;
    padding: 0px;
    
    text-align: center;  /* center #page div */

	background-image: url('/images/clouds.jpg');
	
	font: 1em 'Comic Sans MS';
}
#page {
	width:   400px;
	margin:  0px auto;
	padding: 20px 20px;
	
    text-align: left;  /* restore normal alignment */

	background: #FFFFFF url('/images/column_edges.jpg') repeat-y;
}
#clover {
	margin: 400px 0px 0px 0px;
	float:  left;
}
#sun {
	margin: 50px 10px 0px 0px;
	float:  right;
}

div.one_per_row, div.two_per_row, div.four_per_row {
	display: block;
	margin:  10px auto;
	width:   360px;
}
a.photo img {
	border: 0px;
}
.one_per_row a.photo img {
	width:   320px;
	height:  240px;
	margin:  2px;
}
.two_per_row a.photo img {
	width:   160px;
	height:  120px;
	margin:  2px;
}
.four_per_row a.photo img {
	width:   80px;
	height:  60px;
	margin:  2px;
}
#cboxPhoto {
	width:   640px;
	height:  480px;
}
#cboxTitle {
	font-size: 0.7em;
}

#older_posts .year {
	margin:  0px;
	padding: 0px;
}
#older_posts .month {
	margin:  0px 0px 0px 20px;
	padding: 0px;
}
#older_posts .day {
	margin:  0px 0px 0px 40px;
	padding: 0px;
	
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Verdana';
}
h1 {
	color: #5F97E4;
}
a, a:visited {
    text-decoration: none;
    color:           #5F97E4;
}
a:hover {
    text-decoration: underline;
    color:           #FA7600;
}
p {
	clear: right;
}
.date, .author {
	clear:      none;
	font-style: italic;
	
	color: #4E8900;
}
.date {
	float: left;
}
.author {
	float: right;
}
