---
layout: list
---
<h1>Summer Leslie Gray</h1>
{% for post in site.posts limit:10 %}
    <div class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.content }}
    </div>
{% endfor %}

<a href="#older_posts" onclick="$(this).hide(); $('#older_posts').show();">Show older posts</a>
<div id="older_posts" style="display: none;">
    {% for post in site.posts offset:10 %}
        {% if forloop.first %}
            <h2>Older Posts</h2>
        {% endif %}
        <span class="month_day_year">{{ post.date | date:"%B %d, %Y" }}</span><br><a href="{{ post.url }}">{{ post.title }}</a><br />
    {% endfor %}
</div>
