<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Baby Watch 2010</title>
        
        <script src="/scripts/jquery-1.4.2.min.js"    type="text/javascript" charset="utf-8"></script>
        <script src="/scripts/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/scripts/blog.js"                type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="/css/blog.css"     type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/colorbox.css" type="text/css" media="screen" charset="utf-8">
    </head>
    <body>
        <div id="page">
            {{ content }}
        </div>
    </body>
</html>
