<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Summer Leslie Gray:  {{page.title}}</title>

        <link rel="stylesheet" href="/css/blog.css"             type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/photoShow.screen.css" type="text/css" media="screen" charset="utf-8">

        <script src="/scripts/jquery-1.4.2.min.js"      type="text/javascript" charset="utf-8"></script>
        <script src="/scripts/jquery.photoShow.pack.js" type="text/javascript" charset="utf-8"></script>
        <script src="/scripts/blog.js"                  type="text/javascript" charset="utf-8"></script>
    </head>
    <body class="post_page">
        <div id="page">
            <div id="page_content">
                <div class="post">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                    <a href="/">Back to Articles</a>
                </div>
            </div>
            <div id="page_background">
                &nbsp;
            </div>
        </div>
    </body>
</html>
